.page {
    background-color: #34deeb;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-items: center;
    display: grid;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-width: 300px;
    border-radius: 30px;
    width: 50%;
    box-shadow: 0 0 15px #ccc;
}

.container__form {
    display: flex;
    flex-direction: column;
}

.container__form_border {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.container__form_border input {
    width: 100%;
}

.btn {
    background-color: white;
    border-radius: 50%;
    border: white;
}

.btn:hover {
    background-color: #ccc;
    cursor: pointer;
}

.error {
    color: red;
}

.checkbox {
    transform: scale(2);
}

.checkbox:hover {
    cursor: pointer;
}

.submitBtn {
    color: white;
    align-content: center;
    justify-content: center;
    background-color: #34deeb;
    font-weight: 800;
}
.submitBtn:hover {
    background-color: blue;
    cursor: pointer;
}
