* {
    box-sizing: border-box;
    font-size: 20px;
    line-height: 1.5;
}

/* ---------- PADDING ---------- */

.pd8 {
    padding: 8px;
}

.pt8 {
    padding-top: 8px;
}

.pd16 {
    padding: 16px;
}

.pd32 {
    padding: 32px;
}

/* ---------- MARGIN ---------- */

.mg8 {
    margin: 8px;
}

.mg32 {
    margin: 32px;
}

input {
    border: none;
    outline: none;
    font-size: 20px;
    line-height: 1.5;
}

/* ---------- DISPLAY FLEX ---------- */

.flex--right {
    display: flex;
    flex-direction: row;
}

.flex--down {
    display: flex;
    flex-direction: column;
}

.center {
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
